<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
	<!-- 아래의 *.xml파일들을 참조해서 MyBatis와 Tiles를 사용한다. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
				/WEB-INF/spring/Context/tiles-context.xml
				/WEB-INF/spring/Context/mybatis-context.xml
		</param-value>
	</context-param>
 
	<!-- /swe/index.do를 초기화면으로 사용한다. -->
	<welcome-file-list>		
		<welcome-file>index.do</welcome-file>		
	</welcome-file-list>
	
	
	<!-- 여러 Servlet이 공통된 Bean을 사용하기 위해서 아래와 같이 설정했다. -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Dispatcherservlet에 대한 설정이 있는곳을 알려준다. -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/Context/servlet-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- error page -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/page/nopage.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/page/nopage.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/page/nopage.jsp</location>
	</error-page>
	
	<!-- url pattern을 *.do만 한다. -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>
